@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    background-color: #F0EBE5;
    font-family: 'Tajawal', sans-serif;
}
